texhtask.dtd

<!ENTITY amp "&#38;">
<!ELEMENT TASK      (TITLE, PART, SUBTITLE?, TEXT, BRANCH*, LIST*, L+)>
<!ELEMENT TITLE     (#PCDATA)>
<!ELEMENT PART		(SUBTITLE?, TEXT, BRANCH*, LIST*, L+)>
<!ELEMENT BLIST     (TEXT, BRANCH*, LIST*, L+)>
<!ELEMENT SUBTITLE  (#PCDATA)>
<!ELEMENT BRANCH    (#PCDATA)>
<!ELEMENT LIST		(L+)>
<!ELEMENT L		(#PCDATA)>
<!ELEMENT TEXT      (#PCDATA)>